@font-face {
  font-family: "gilroy-regular";
  src: url("../assets/fonts/gilroy-regular.ttf");
}

@font-face {
  font-family: "gilroy-medium";
  src: url("../assets/fonts/gilroy-medium.ttf");
}

@font-face {
  font-family: "gilroy-semibold";
  src: url("../assets/fonts/gilroy-semibold.ttf");
}
@font-face {
  font-family: "gilroy-bold";
  src: url("../assets/fonts/gilroy-bold.ttf");
}
@font-face {
  font-family: "icons";
  src: url("../assets/fonts/icons.ttf");
}